EMAIL2PDF__INPUT__IMAP__SERVER=imap.provider.com
EMAIL2PDF__INPUT__IMAP__USERNAME=user@provider.net
EMAIL2PDF__INPUT__IMAP__PASSWORD=randompassword
EMAIL2PDF__INPUT__IMAP__FOLDER=Paperless
EMAIL2PDF__INPUT__IMAP__POST_ACTION__FLAG='true'
EMAIL2PDF__CONVERSION__WKHTMLTOPDF__OPTIONS={"load-media-error-handling":"ignore"}
EMAIL2PDF__OUTPUT_SMTP__SERVER=smtp.provider.com
EMAIL2PDF__OUTPUT_SMTP__SENDER=user+paperless@provider.net
EMAIL2PDF__OUTPUT_SMTP__DESTINATION=user+paperless@provider.net
INTER_RUN_INTERVAL=300
HOSTS=127.0.0.1 tracking.paypal.com